*
!.gitignore
!project-01
!project-01/**/*.c
!project-01/**/*.txt
!project-01/Makefile
!project-02
!project-02/part2
!project-02/**/*.c
!project-02/**/*.txt
!project-02/Makefile
!project-02/**/*.pdf
!project-02/part3
